body {
    display: block;
    font-family: 'Poppins';
    background: #000000;
}
.corpo {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.foto-marketing {
    position: relative;
    width: 95%;
    margin: auto;
    padding: 0 15px;
}
.foto-marketing img {
    width: 100%;
}
.descricao {
    width: 95%;
    margin: 10px auto 0;
    text-align: justify;
}
.descricao p {
    margin: 10px 15px 0;
    color: #a8adb7;
    font-size: 16px;
}
/* //////// Cartões ////////*/
.box {
    display: inline-block;
    position: relative;
    width: 95%;
    height: auto;
    margin-top: 10px;
}
.cards {
    display: inline-block;
    position: relative;
    width: 400px;
    margin: 5px;
}
.cards img {
    position: relative;
    width: 100%;
}
